<div id="student-view" class="container hidden">
    <div class="card">
        <h2>My Profile</h2>
        <div class="grid-2 profile-row">
            <div>
                <p>Name: <b id="stu-name"></b></p>
                <p>ID: <b id="stu-id"></b></p>
                <p>Class: <b id="stu-class"></b></p>
            </div>
            <div>
                <p>Nationality: <b id="stu-nat"></b></p>
                <p>DOB: <b id="stu-dob"></b></p>
                <p>Address: <b id="stu-addr"></b></p>
            </div>
        </div>
    </div>
    <div class="card">
        <h2>Transcript</h2>
        <table>
            <thead><tr><th>Subject</th><th>Missed / Limit</th><th>Sem Score</th><th>Exam</th><th>Status</th></tr></thead>
            <tbody id="stu-table"></tbody>
        </table>
    </div>
    <div class="card">
        <h2>Schedule</h2>
        <div id="stu-schedule"></div>
    </div>
</div>
