<div id="login-view" class="login-container">
    <div class="login-box">
        <h2 style="border:none;">Sign In</h2>
        <input type="text" id="u" placeholder="Username">
        <input type="password" id="p" placeholder="Password">
        <button onclick="login()">Login</button>
        <div style="text-align: left; margin-top: 20px; color: #666; font-size: 0.85rem;">
            <p><b>Student:</b> student / 123</p>
            <p><b>Teacher:</b> teacher / 123</p>
            <p><b>Tutor:</b> tutor / 123</p>
        </div>
    </div>
</div>
